method.set_key = event.download.finished,move_complete,"d.directory.set=/media/downloaded_folder/;execute=/opt/torrent_done.sh,$d.base_path="

directory = /media/downloading_folder

schedule = watch_directory,5,5,load.start=/media/torrent_folder/*.torrent

network.scgi.open_port = 127.0.0.1:9151

session = /tmp/rtorrentsession
