method.set_key = event.download.finished,move_complete,"d.directory.set=/media/downloaded_folder/;execute=/opt/torrent_done.sh,$d.get_base_path="

directory = /media/downloading_folder

schedule = watch_directory,5,5,load.start=/media/torrent_folder/*.torrent

session = /tmp/rtorrentsession
